@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 227 73% 90%;
		--foreground: 32 37% 7%;
		--card: 227 73% 90%;
		--card-foreground: 32 37% 7%;
		--popover: 227 73% 90%;
		--popover-foreground: 32 37% 7%;
		--primary: 241 54% 78%;
		--primary-foreground: 32 37% 7%;
		--secondary: 226 27% 55%;
		--secondary-foreground: 32 37% 7%;
		--muted: 227 73% 20%;
		--muted-foreground: 32 37% 70%;
		--accent: 241 30% 34%;
		--accent-foreground: 227 73% 90%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 32 37% 7%;
		--border: 227 73% 20%;
		--input: 227 73% 20%;
		--ring: 241 30% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 227 73% 10%;
		--foreground: 32 37% 93%;
		--card: 227 73% 10%;
		--card-foreground: 32 37% 93%;
		--popover: 227 73% 10%;
		--popover-foreground: 32 37% 93%;
		--primary: 241 54% 22%;
		--primary-foreground: 32 37% 93%;
		--secondary: 227 27% 45%;
		--secondary-foreground: 32 37% 93%;
		--muted: 227 73% 80%;
		--muted-foreground: 32 37% 93%;
		--accent: 241 30% 66%;
		--accent-foreground: 227 73% 10%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 32 37% 10%;
		--border: 227 73% 60%;
		--input: 227 73% 80%;
		--ring: 241 30% 60%;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
